*{
  background-color: #f0f0e1;
}

body{
  margin: auto;
  text-align: center;
}
h1{
  font-family: "Arimo" ,sans-serif;
}

h3{
  text-align: left;
}

input[type=text]{
  cursor: text;
  border: 3px solid gold;
  border-radius: 5px;
  font-size: 20px;
}

input[type=submit]{
  cursor: pointer;
  border: 3px solid blue;
  border-radius: 5px;
  background-color: #c0deed;
  font-size: 20px;
}

input[type=submit]:hover{
  background-color: #3f2112;
  color: white;
}

.container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;;
}

/*input[type=image]{
  width: 35%;
}*/

img{
  margin: auto;
  width: 35%;
}

.meal{
  margin: .3em;
  width: 30%;
  align-self: center;
}

.meal input{
  width: 60%;

}

button{
  font-size: 20px;
  float: right;
  background-color: red;
  color: white;
  cursor: pointer;
}

button:hover{
  background-color: yellow;
  color: black;
}

.meal {
  position: relative;
}

/* Tooltip text */
.meal .tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: lightgrey;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
}


.meal:hover .tooltipText {
  visibility: visible;
}


p{
 line-height: 15px;
 font-size: 12px;
}